gtk-color-scheme = "background: #040201"
gtk-color-scheme = "foreground: #D5CDCD"

gtk-color-scheme = "color0: #040201"
gtk-color-scheme = "color1: #975A1D"
gtk-color-scheme = "color2: #926A66"
gtk-color-scheme = "color3: #B49558"
gtk-color-scheme = "color4: #847C88"
gtk-color-scheme = "color5: #AE9A9C"
gtk-color-scheme = "color6: #C8ADAE"
gtk-color-scheme = "color7: #D5CDCD"
gtk-color-scheme = "color8: #686766"
gtk-color-scheme = "color9: #975A1D"
gtk-color-scheme = "color10: #926A66"
gtk-color-scheme = "color11: #B49558"
gtk-color-scheme = "color12: #847C88"
gtk-color-scheme = "color13: #AE9A9C"
gtk-color-scheme = "color14: #C8ADAE"
gtk-color-scheme = "color15: #D5CDCD"
