gtk-color-scheme = "background: #140F15"
gtk-color-scheme = "foreground: #CDC7B9"

gtk-color-scheme = "color0: #140F15"
gtk-color-scheme = "color1: #443B33"
gtk-color-scheme = "color2: #3E4038"
gtk-color-scheme = "color3: #4B4739"
gtk-color-scheme = "color4: #635F4F"
gtk-color-scheme = "color5: #867967"
gtk-color-scheme = "color6: #938B73"
gtk-color-scheme = "color7: #CDC7B9"
gtk-color-scheme = "color8: #726f72"
gtk-color-scheme = "color9: #443B33"
gtk-color-scheme = "color10: #3E4038"
gtk-color-scheme = "color11: #4B4739"
gtk-color-scheme = "color12: #635F4F"
gtk-color-scheme = "color13: #867967"
gtk-color-scheme = "color14: #938B73"
gtk-color-scheme = "color15: #CDC7B9"
