gtk-color-scheme = "background: #171A15"
gtk-color-scheme = "foreground: #CEC0B0"

gtk-color-scheme = "color0: #171A15"
gtk-color-scheme = "color1: #85593B"
gtk-color-scheme = "color2: #8B7257"
gtk-color-scheme = "color3: #A58D72"
gtk-color-scheme = "color4: #D0A16F"
gtk-color-scheme = "color5: #798484"
gtk-color-scheme = "color6: #B4A48F"
gtk-color-scheme = "color7: #CEC0B0"
gtk-color-scheme = "color8: #737572"
gtk-color-scheme = "color9: #85593B"
gtk-color-scheme = "color10: #8B7257"
gtk-color-scheme = "color11: #A58D72"
gtk-color-scheme = "color12: #D0A16F"
gtk-color-scheme = "color13: #798484"
gtk-color-scheme = "color14: #B4A48F"
gtk-color-scheme = "color15: #CEC0B0"
